---
title: FAQ
heading: Got questions? We got answers.
description: Learn more about out service
pricing_table:
  - name: Starter
    color: '#4a4a4a'
    features:
      - text: $30 per package
        highlight: true
      - text: Under 10 packages shipped
        highlight: false
      - text: New forwarder
        highlight: false
      - text: Second-tier forwarder
        highlight: false
      - text: Second-tier support
        highlight: false
      - text: '-'
        highlight: false
    call_to_action:
      link:
      text: Update this
  - name: Professional
    color: '#4c7be5'
    features:
      - text: $50 per package
        highlight: true
      - text: Over 10 packages shipped
        highlight: false
      - text: Experienced
        highlight: false
      - text: Priority forwarder
        highlight: false
      - text: Priority support
        highlight: false
      - text: Eligible for referral bonuses
        highlight: false
    call_to_action:
      link:
      text: Update this
faq:
  - question: 'How does this work, exactly?'
    answer: >-
      - We will use your home address as the shipping address for our shoppers.
      Receive the package, ship it out with our prepaid shipping label, and get
      paid
  - question: How come you pay so much per package shipped?
    answer: >-
      78% of our shoppers buy electronics internationally. We pay you geneoursly
      to properly handle the package and do a good job of shipping it.
  - question: Do you offer pricing for nonprofit organizations?
    answer: 'Yes, send us a message and we''ll set you up on our nonprofit pricing.'
  - question: I have a question. Who do I contact?
    answer: 'No problem! Contact us at <a href="#">dennis@borderlessparcel.com</a>.'
  - question:
    answer:
---

<div class="plans">
	{% for plan in page.pricing_table %}
		<ul class="plan">
			<li style="background: {{ plan.color }}">
				<h3>{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}

			{% if plan.call_to_action %}
				<li class="pricing-cta"><div class="button"><a style="background: {{ plan.color }}" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>

{% if page.faq %}
	<h2>Pricing FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
