---
title: FAQ
heading: Got questions? We got answers.
description: Learn more about our service
pricing_table:
  - name: Starter
    color: '#4a4a4a'
    features:
      - text: $30 per package
        highlight: true
      - text: Under 10 packages shipped
        highlight: false
      - text: New forwarder
        highlight: false
      - text: Second-tier forwarder
        highlight: false
      - text: Second-tier support
        highlight: false
      - text: '-'
        highlight: false
    call_to_action:
      link:
      text: Update this
  - name: Professional
    color: '#4c7be5'
    features:
      - text: $50 per package
        highlight: true
      - text: Over 10 packages shipped
        highlight: false
      - text: Experienced
        highlight: false
      - text: Priority forwarder
        highlight: false
      - text: Priority support
        highlight: false
      - text: Eligible for referral bonuses
        highlight: false
    call_to_action:
      link:
      text: Update this
faq:
  - question: 'How does this work, exactly?'
    answer: >-
      We will use your home address as the shipping address for our shoppers.
      You'll ship the package to the shopper and get paid for it.
  - question: Will I have to pay for shipping?
    answer: >-
      Never. Shipping costs will always be covered by us or the shopper himself,
      so you'll only need to print off our prepaid shipping label and you should
      be good to go.
  - question: How long does this job take?
    answer: >-
      About 30 minutes to an hour. You just have to receive the package, print
      off our prepaid shipping label, and call the local post office for pickup.
      Or, you can drive there and drop it off yourself
  - question: How come the pay is so high?
    answer: >-
      78% of our shoppers buy electronics. We pay geneoursly so you do a good
      job of shipping and handling the package, as well as to prevent theft
  - question: What will I need to do this job?
    answer: >-
      Just a printer to print shipping labels, and some basic household supplies
      like scissors and tape.
  - question: Can I check the contents of the package I'll be shipping?
    answer: >-
      Absolutely! All our items are shipped from major retailors such as
      Walmart, Target, Best Buy, etc. as well as electronics suppliers.
  - question: What are the consequences of package theft?
    answer: >-
      Full law enforcement & debt collection agency involvement. We will
      criminally prosecute thieves (luckily, we've had reliable people so far)
  - question: I don't see my question on here. Who do I contact?
    answer: 'No problem! Contact us at <a href="#">dennis@borderlessparcel.com</a>.'
---

<div class="plans">
	{% for plan in page.pricing_table %}
		<ul class="plan">
			<li style="background: {{ plan.color }}">
				<h3>{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}

			{% if plan.call_to_action %}
				<li class="pricing-cta"><div class="button"><a style="background: {{ plan.color }}" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>

{% if page.faq %}
	<h2>Frequently Asked Questions</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
