---
title: FAQ
heading: Got questions? We have answers.
description: Learn more about our service
pricing_table:
  - name: Starter
    color: '#4a4a4a'
    features:
      - text: $30 per package
        highlight: true
      - text: Under 10 packages shipped
        highlight: false
      - text: New forwarder
        highlight: false
      - text: Second-tier forwarder
        highlight: false
      - text: Second-tier support
        highlight: false
      - text: '-'
        highlight: false
    call_to_action:
      link: /sign-up/
      text: Become a forwarder
  - name: Professional
    color: '#4c7be5'
    features:
      - text: $50 per package
        highlight: true
      - text: Over 10 packages shipped
        highlight: false
      - text: Experienced
        highlight: false
      - text: Priority forwarder
        highlight: false
      - text: Priority support
        highlight: false
      - text: Eligible for referral bonuses
        highlight: false
    call_to_action:
      link: /sign-up/
      text: Begin as a Starter
faq:
  - question: Where do I sign up?
    answer: >-
      Simply click the "Sign up" button at the top of the website and submit
      your application. However, please understand that your approval is not
      guaranteed.
  - question: Why do shoppers use your service?
    answer: >-
      Our customers use our service when they're shopping across the border and
      the retailer can't physically ship to them, or when they're away from home
      (out of town, on holiday, etc.) and would like to safeguard their package.
      Not everybody has access to a PO Box, so we help shoppers overcome that
      issue.
  - question: 'For domestic orders, why not just use a PO Box?'
    answer: >-
      Not everybody has access to a PO Box. Also, regarding storing packages in
      the post office, they are notorious for losing packages, so shoppers come
      to us time and time again for a reliable delivery of their orders.
  - question: 'How does this work, exactly?'
    answer: >-
      1. We'll connect you with a shopper and they'll ship their goods to your
      home address. 2. You'll then ship their package to their requested
      address, and 3. You'll be paid generously for it.
  - question: What will I need to do this job?
    answer: 'Just a printer to print shipping labels, as well as scissors and tape.'
  - question: Will I have to pay for shipping?
    answer: >-
      You'll never have to. All shipping costs will always be covered by us, and
      prepaid labels will always be provided for you. Simply drop off your
      package or call for package pickup. Most post offices offer this service
      for free!
  - question: How long does this job take?
    answer: >-
      30 minutes, or up to 1 hour per drop-off. It's actually quite a simple and
      quick job. Just ship our shopper's order and get paid.
  - question: Why is the pay so high?
    answer: >-
      In order to ensure the highest quality of service as well as to discourage
      theft, we pay each and every single forwarder with a starting salary of
      $30 per package shipped.
  - question: Can I check the contents of the package I'll be shipping?
    answer: >-
      Absolutely! All our items are shipped from major retailers such as
      Walmart, Target, Best Buy, etc. as well as major suppliers, so they are
      fully compliant with the law.
  - question: My package came under a different person's name.
    answer: >-
      Your package will always come under your shopper's name so you won't
      confuse them when you ship them out.
  - question: Is there a dashboard to keep track of my packages?
    answer: >-
      We are currently working on this functionality. This should be done by the
      end of Q1 2021. Stay tuned.
  - question: What are the consequences of package theft?
    answer: >-
      A police investigation & debt collection agency involvement. We will
      criminally prosecute any and all malicious users of the service.
  - question: I don't see my question on here. Who do I contact?
    answer: >-
      No problem! Contact us at <a href="#">support@borderlessparcel.com</a> and
      ask away.
---

<div class="plans">
	{% for plan in page.pricing_table %}
		<ul class="plan">
			<li style="background: {{ plan.color }}">
				<h3>{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}

			{% if plan.call_to_action %}
				<li class="pricing-cta"><div class="button"><a style="background: {{ plan.color }}" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>

{% if page.faq %}
	<h2>Frequently Asked Questions</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
